.App {
  text-align: center;
}

.nav-bar{
display: flex;
justify-content: space-between;
align-items: center;
list-style: none;
}

.navbar{
  /* display: flex; */
  align-items: center;
list-style: none;
}

li{
  margin: 20px;
}
.debet-credit{
  display: flex;
  justify-content: space-evenly;
}